asgiref==3.10.0
astroid==4.0.2
colorama==0.4.6
dill==0.4.0
Django==5.2.7
django-extensions==4.1
django-filter==25.2
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
drf-yasg==1.21.11
graphviz==0.21
inflection==0.5.1
isort==7.0.0
mccabe==0.7.0
packaging==25.0
platformdirs==4.5.0
psycopg2-binary==2.9.11
pydotplus==2.0.2
PyJWT==2.10.1
pylint==4.0.4
pyparsing==3.2.5
pytz==2025.2
PyYAML==6.0.3
sqlparse==0.5.3
tomli==2.3.0
tomlkit==0.13.3
typing_extensions==4.15.0
tzdata==2025.2
uritemplate==4.2.0
